    <div class="sidebar">
      <div class="logo-details" (click)="menuBtnChange()">
          <i class='bx bx-chevron-right' id="btn" ></i>
      </div>
      <ul class="nav-list">
        <li>
          <a href="#">
            <i class='bx bxs-home'></i>
            <span class="links_name">Home</span>
          </a>
           <span class="tooltip">Home</span>
        </li>
        <li>
         <a href="#">
            <i class='bx bx-border-all'></i>
           <span class="links_name">Others</span>
         </a>
         <span class="tooltip">Others</span>
       </li>
       <li>
         <a href="#">
            <i class='bx bxs-shopping-bag'></i>
           <span class="links_name">Bags</span>
         </a>
         <span class="tooltip">Bags</span>
       </li>
       <li>
         <a href="#">
           <i class='bx bx-brightness' ></i>
           <span class="links_name">Seetings</span>
         </a>
         <span class="tooltip">Seetings</span>
       </li>
       <li>
        <a href="#">
            <i class='bx bxs-help-circle'></i>
          <span class="links_name">Help</span>
        </a>
        <span class="tooltip">Help</span>
      </li>
      </ul>
    </div>